# Vercel deployment configuration
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted
public-hoist-pattern[]=*argon2*
public-hoist-pattern[]=*esbuild*
enable-pre-post-scripts=true
